
body {
  font-family: 'Open Sans Condensed';
  // padding: 20px 50px;
  padding: 10px;
  // background-color: yellowgreen;
}
  a{
    color: rgba(17, 16, 16, 0.795);
    text-decoration: none;
  }
*{
  box-sizing: border-box;
}